<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Активности.KvStatus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Активности.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Активности.KvStatus" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Активности.KvStatus>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>False</value>
            </setting>
        </Активности.KvStatus>
    </applicationSettings>
    <userSettings>
        <Активности.Properties.Settings>
            <setting name="_FrUch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrSever" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrBamb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrSulan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrKril" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrGrib" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrFalm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrMedv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_FrVarv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_ObGuild10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastActiv" serializeAs="String">
                <value />
            </setting>
        </Активности.Properties.Settings>
        <Активности.KvStatus>
            <setting name="Setting3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting7" serializeAs="String">
                <value>False</value>
            </setting>
        </Активности.KvStatus>
    </userSettings>
</configuration>